<!DOCTYPE HTML>
<html>
	<head>
		<title>${1:Page Title}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="${2:keywords}"/>
		<meta name="description" content="${3:descriptions}"/>
	</head>
	<body>
		${4}
	</body>
</html>
